body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    background-image: radial-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(net.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navBar{
    display: flex;
    padding: 25px 60px;
    justify-content: space-between;
    align-items: center;
}
.mainContent{
    color:white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin-top: 5%;
}
.mainContent h1{
    font-size: 3.2rem;
    color: white;
    text-align: center;
    width: 50%;
}
.mainContent h2{
    font-size: 1.5em;
    margin-top: 0%;
}
.mainContent p{
    font-size: 1.2em;
}

.logo{
    width: 14%;
    color: red;
}
.signIn{
    color: white;
    background-color: red;
    padding: 8px 20px;
    width: fit-content;
    border-radius: 4px;
    cursor: pointer;
}
.email{
    display: flex;
    justify-content: center;
    
}
.getStarted{
    color: white;
    font-size: 1.7rem;
    background-color: red;
    padding: 13px 10px;
    height: fit-content;
    cursor: pointer;
    width: 180px;
}
.Input{
    width: 530px;
    height: fit-content;
    font-size: 1rem;
    padding: 20px 10px;
    border: none;
    outline: none;
}
.getStarted:hover{

    background-color: #ff0b18;

}